*.sig
.DS_Store
data/NF-example-coleman-data-13-patch-2_160.m
data/NF-example-coleman-data-13_160.m
data/NF-example-coleman-data-patch-2_15.m
Testing_points.m
Testing_QC_patch_2.m
data/non essential/NF-example-coleman-data-13-patch-3_550.m
*.m
